<section data-ng-controller="EquipmentController" data-ng-init="findOne()">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">{{equipment.name}}</h3>
			<a class="btn btn-success pull-right" href="/#!/equipment/{{equipment._id}}/edit">
				<i class="fa fa-pencil"></i>
				Edit
			</a>
			<a class="btn btn-danger pull-right" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<p class="list-group-item-text">Department</p>
				<h4 class="list-group-item-heading">{{equipment.department}}</h4>
			</div>
			<div class="list-group-item">
				<p class="list-group-item-text">Description</p>
				<h4 class="list-group-item-heading">{{equipment.description}}</h4>
			</div>
		</div>
		<div class="panel-footer">

		</div>
	</div>
</section>
